<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUII | PROF-INSO</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/user.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="images/favicon/site.webmanifest" />
    <script src="js/axios.js" defer></script>
    <script src="js/user.js" defer></script>
  </head>

  <body>
    <div class="header">
      <div class="logo"><img src="images/min/logo.png" alt="logo" /></div>
      <div>
        <nav class="header-nav">
          <ul>
            <li><a href="#">Subscriptions</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="" class="button" id="button">Log out</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="user-content">
      <form action="" class="new-site-container">
        <h3>Track new site:</h3>
        <input type="text" id="url-input">
        <button type="submit" id="add-new-site-button">Add</button>
      </form>
      <div class="subscription-container">
        <ul class="subscription-list">
          <div class="feed-card">
            <div class="card-header">
              <p class="card-title">Subscription Title</p>
              <p class="card-title-separator">-</p>
              <p>https://www.infojobs.net/jobsearch/search-results/list.xhtml</p>
            </div>
            <p class="card-description">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nibh vel commodo posuere, justo est laoreet erat, at congue nunc quam id tellus.</p>
            <div class="card-buttons">
              <a href="#">Site</a>
              <a href="#">Edit</a>
            </div>
          </div> 
        </ul>
      </div>
    </div>
  </body>
</html>
