@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgb(42, 42, 60) 0%, rgb(24, 24, 36) 50%);
    color: #eee;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;
    user-select: none;
}
.container {
    width: 100%;
    max-width: 1500px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 3em;
    padding: 12px 0;
    z-index: 1;
    background:rgba(40, 40, 58, 0.9);
    backdrop-filter: blur(5px);
}
.header-nav {
  display: flex;
}
.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-nav li {
  margin-right: 20px;
}
.header-nav a {
  text-decoration: none;
  color: #ffffff;
}
.header-nav a:hover {
  color:cadetblue;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    display: flex;
    width: 65px;
    margin-left: 10%;
    pointer-events: none;
}
.button {
    margin: 10px;
    width: 80%;
    max-width: 300px;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    color: #eee;
    border-radius: 4px;
    font-size: 15px;
    transition: all 0.15s;
    background: linear-gradient(135deg, #4A5DAF 0%, #6141CF 80%);
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
}
.button:hover {
    box-shadow: rgb(85 65 215 / 19.5%) 0px 1px 10px;
}
.user-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4em;
  align-items: center;
}